<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
    }
    
    p {
      text-align: center;

    }
    
  </style>
  
</head>

<footer>
<br>
<div class="fixed-footer">
  <div class="container">
      <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
        <p>Designed And Created by <br>
           Mahalakshmi M</p>
      </div>
</div>
</div>
</footer>

</html>
